#low-barrel {
  margin: 20px auto;
  width: 100%;
  height: 400px;
  shape-rendering: crispEdges;
  pointer-events: all;
}

rect.background {
    fill: none;
    stroke: #C0C0C0;
}
rect.extent {
    fill: rgba(128, 179, 236, 0.3);
    stroke: #C0C0C0;
    stroke-width: 1px;
}
.resize>rect {
    fill: #435862;
    stroke: #C0C0C0;
    stroke-width: 1px;
    shape-rendering: auto;
}
.tooltip .cell {
    font: 10px sans-serif;
}
.rectangle .container rect {
    fill: rgba(249, 249, 249, 0.85);
    stroke: rgba(124, 181, 236, 1);
    stroke-width: 1px;
}

.candlestick {
  stroke: #000;
}

.candlestick.up {
  fill: #6c0;
}

.candlestick.down {
  fill: #c60;
}

.bar {
  stroke: #06c;
  fill: #9cf;
}

.area, .line {
  shape-rendering: auto;
}
