---
title: Decorate
description: "Tests decorate by performing a simple specialisation on each series type. It also marks the 'origin' of the container which is the parent for each datapoint."
categories: functional
tags:
- decorate
- bar
- candlestick
- ohlc
testScripts:
- decorate.js
---

<div id="decorate"></div>
