---
title: Update
description: "A slightly crude test that the series correctly implement the data-join pattern. The series below has points added, removed and updated. A visual inspection of the SVG should show no un-expected elements."
categories: functional
tags:
- update
- line
- bar
- ohlc
testScripts:
- update.js
---

<style>
  #update candlestick-series { opacity: 0.5; }
</style>
<div id="update"></div>
