<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{#if title}}{{ title }} - {{/if}}d3fc Visual Tests</title>

<link href="{{ assets }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ assets }}/d3-financial-components.css" rel="stylesheet">
