<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{#if title}}{{ title }} - {{/if}}D3FC Visual Tests</title>

<link href="{{ assets }}/d3-financial-components.css" rel="stylesheet">
