.chart { height: 600px; }

.chartArea { background: #fefefe; border: solid 1px #eee; }

.axis .domain,
.axis .tick line { fill: none; stroke-width: 0.3; stroke: black; }
.axis text { font: 10px sans-serif; }
.ohlc-series .bar .up-day { stroke: #6c0; }
.ohlc-series .bar .down-day { stroke: #c60; }
.ohlc-series .bar .static-day { stroke: #000; }

.ohlc-series .up-days { stroke: #6c0; }
.ohlc-series .down-days { stroke: #c60; }
.ohlc-series .bar .static-days { stroke: #000; }

.candlestick-series .bar .up-day { stroke: #6c0; }
.candlestick-series .bar .down-day { stroke: #c60; }
.candlestick-series .bar .high-low-line { stroke: #000; }

.comparison-series .line { fill: none; }

.lineSeries { fill: none; stroke: #06c; }
.lineSeriesArea { fill: #9cf; fill-opacity: 0.8; }

.volumebar.up-day rect { fill: #6c0; }
.volumebar.down-day rect { fill: #c60; }
