---
title: Crosshairs Advanced
description: "Demonstrates crosshairs freezing, events and how they can be controlled."
categories: tools
tags:
- crosshairs
- bar
testScripts:
- ../chartLayout.js
- ../chartBuilder.js
- crosshairs-advanced.js
---

<div style="display:flex;height:300px">
  <div id="crosshairs-1" style="flex:1"></div>
    <form id="crosshairs-1-form" style="width:200px">
      <p>Container</p>
      <label>pointer-events (all/none)<input name="pointerevents" type="checkbox" checked/></label>
      <label>display (inherit/none)<input name="display" type="checkbox" checked/></label>
      <button name="clear">clear</button>
      <textarea name="eventlog" style="display:block;width:200px;height:200px"></textarea>
  </form>
</div>
