---
title: Crosshairs
description: "Demonstrates basic crosshairs functionality: snapping, padding, labels and decoration."
categories: tools
tags:
- crosshairs
- bar
testScripts:
- crosshairs.js
---

<div id="crosshairs"></div>
