---
title: Measure
description: "Demonstrates basic measure functionality: snapping, padding, labels and decoration."
categories: tools
tags:
- measure
- bar
testScripts:
- ../chartLayout.js
- ../chartBuilder.js
- measure.js
---

<div id="measure"></div>
