#slChart { height: 600px; }

.slChartArea { background: #fefefe; border: solid 1px #eee; }
.axis .domain,
.axis .tick line { fill: none; stroke-width: 0.3; stroke: black; }

.axis text { font: 10px sans-serif; }

g.plotArea .gridlines line { stroke-width: 0.15; stroke: #222; }

g.slPrimaryPlot .bar path { stroke-width: 1.5; }
g.slPrimaryPlot .bar.up-day path { stroke: #6c0; }
g.slPrimaryPlot .bar.down-day path { stroke: #c60; }
g.slPrimaryPlot .bar.up-day rect { fill: #6c0; }
g.slPrimaryPlot .bar.down-day rect { fill: #c60; }

#slIndicatorChart { height: 200px; }
.slIndicatorChartArea { background: #fefefe; border: solid 1px #eee; }

g.slIndicatorsChart_1 path.rsi {
    fill: none;
    stroke: #09f;
    stroke-width: 1;
    stroke-dasharray: 3, 3;
    opacity: 1; /* This is to override the bootstrap defaults for .close etc */
}
g.slIndicatorsChart_1 line.marker {
    fill: none;
    stroke: #666;
    stroke-width: 1;
    stroke-dasharray: 1, 3;
    opacity: 1; /* This is to override the bootstrap defaults for .close etc */
}

.slIndicatorsChart_2 { border: solid 1px #ff0; }

.slChartNavigation { border: solid 1px #0ff; }