/* Ruler/Measure Component Styles */
.measure.origin {
  fill: none;
  stroke: #00c;
  stroke-width: 1;
}
.measure.target {
  fill: none;
  stroke: #00c;
  stroke-width: 1;
}
.measure.source {
  fill: none;
  stroke: #00c;
  stroke-width: 1;
}
.measure.x {
  fill: none;
  stroke: #00c;
  stroke-width: 1;
  stroke-dasharray: 3, 3;
}
.measure.y {
  fill: none;
  stroke: #00c;
  stroke-width: 1;
  stroke-dasharray: 3, 3;
}
.measure.callout {
  font: 10px sans-serif;
  fill: #000;
}

/* Fibonacci Fan Styles */
.fibonacci-fan {
  fill: none;
  stroke: #ccc;
  stroke-width: 1;
}
.fibonacci-fan.source {
  stroke: #69f;
  stroke-width: 1;
}
.fibonacci-fan.b {
}
circle.fibonacci-fan {
  fill: none;
  stroke: #69f;
  stroke-width: 1;
}
.fibonacci-fan.area {
  fill: #eee;
  fill-opacity: 0.5;
  stroke-width: 0;
}

/* Crosshairs Styles */
.crosshairs>line {
  stroke: #69f;
  stroke-width: 1;
}

.crosshairs>text {
  font: 10px sans-serif;
  text-anchor: end;
}

.crosshairs>text.vertical {
  dominant-baseline: hanging;
}

/* Callouts Styles */
.callout rect {
  fill: #999;
  fill-opacity: 0.8;
}
.callout text {
  fill: #000;
}

/* Annotations */
.annotation .marker {
  fill: none;
  stroke: #69f;
  stroke-width: 1;
  stroke-dasharray: 3, 3;
}
.annotation .callout {
  font: 10px sans-serif;
}



