<svg id="layout-test"
   style="width: 90%; height: 350px; margin: 10px; background: yellow"
   layout-style="paddingLeft: 10">
  <g layout-style="height: 30; justifyContent: center; flexDirection: row;">
  </g>
  <g layout-style="flex: 1; flexDirection: row;">
    <g layout-style="flex: 1; flexDirection: row; justifyContent: flex-end;">
      <g layout-style="width: 100; height: 100; margin: 10"></g>
    </g>
    <g layout-style="width: 50;"></g>
    <g layout-style="width: 30; justifyContent: center;"></g>
  </g>
  <g layout-style="height: 30; flexDirection: row">
    <g layout-style="flex: 1; marginRight: 80;"></g>
  </g>
  <g layout-style="height: 30; flexDirection: row"></g>
</svg>
