#rectangles-example .rectangle rect {
    fill: rgba(0,255,0,0.3);
    stroke-width: 0;
}


#rectangles-measure .rectangle rect {
    fill: transparent;
    stroke-width: 0;
}

.chart .title .label {
    font-size: 16pt;
}

.chart .label {
    font-size: 12pt;
}
