svg {
  display: block;
}

path.area {
  fill: url(#area-gradient);
  fill-opacity: 1;
}

path.line {
  stroke: rgb(26, 154, 249);
}

path.ema {
  stroke: #c00;
  fill: none;
}

.x-axis text {
  font-weight: bold;
}

.background {
  opacity: 0.7;
}

svg.plot-area {
  overflow: visible;
}

.annotation.ema line,
.annotation.close line {
  display: none;
}

.annotation text {
  fill: white;
}

.annotation.ema path {
  fill: #c00;
}

.annotation.close path {
  fill: rgb(26, 154, 249);
}

#legend {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 0.8em;
  width: 100px;
  font-size: 0.8em;
}

.label {
  color: black;
  text-align: right;
  display: inline-block;
}

.value {
  margin-right: 10px;
}

.crosshair .callout path,
.crosshair .callout rect,
.crosshair .trackball circle {
  fill: #444;
}

.crosshair line {
  stroke: #444;
  stroke-dasharray: 3, 3;
}

.crosshair .bottom-handle text {
  text-anchor: middle;
  dominant-baseline: central;
}

.tick.orient-bottom text {
  text-anchor: start;
  dominant-baseline: central;
}

.tick.orient-right text {
  text-anchor: end;
}

td, th {
  padding: 3px;
}