.jumbotron {
  padding-top: $navbar-bottom-margin;
  padding-bottom: $navbar-bottom-margin;
  margin-bottom: 0;
  background-image: url(../static/hexagon.png);

  p {
    @include font-bodoni();
    font-style: italic;
    font-size: 16px;
    margin-top: 15px;
  }
}

.top-chart {
  padding-bottom: $section-vertical-padding;
  padding-top: $section-vertical-padding - $navbar-margin-bottom;

  .chart.large {
    height: 300px;
    margin: 0;
  }

  .col-md-6 {
    margin-top: $section-vertical-padding;
  }

  a,
  a:hover {
    color: $text-color;
    text-decoration: none;
  }
}

.features {
  background-color: $brand-light-gray;

  .row {
    padding: 50px 0;
  }

  h3 {
    text-align: center;
  }

  img {
    margin: 0 auto;
    display: block;
  }
}
