$brand-background: rgb(38, 51, 55);
$brand-primary: rgb(67, 88, 98);
$brand-secondary: rgb(123, 159, 161);
$brand-white: #FFFFFF;
$brand-light-gray: #F8F8F8;
$brand-link: #1C97EA;

$section-vertical-padding: 30px;
