<div>
  <div role="tabpanel">

    {% assign uid = page.id | split:'/' | last %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#javascript-{{ uid }}" role="tab" data-toggle="tab">JavaScript</a></li>
      <li role="presentation"><a href="#css-{{ uid }}"  role="tab" data-toggle="tab">CSS</a></li>
      <li role="presentation"><a href="#svg-{{ uid }}"  role="tab" data-toggle="tab">Generated SVG</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="javascript-{{ uid }}">
        <pre><code class="javascript">{{ page.javascript }}</code></pre>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="css-{{ uid }}">
        <pre><code class="css">{{ page.css }}</code></pre>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="svg-{{ uid }}">
        <!-- using XMP in order to render markup without escaping -->
        <xmp class="javascript">{{ page.html }}</xmp>
      </div>
    </div>

  </div>
</div>