{
    "env": {
        "browser": true
    },
    "globals": {
        "d3": true,
        "fc": true
    },
    "rules": {
        "wrap-iife": 0,
        "no-console": 0,
        "radix": 0,
        "no-spaced-func": 0,
        "no-multi-spaces": 0,
        "no-extend-native": 0,
        "no-shadow": [2, {"builtinGlobals": false, "hoist": "all"}]
    }
}
