/* OHLC Styles */
.up-day { 
  stroke: #6c0; 
  fill: #6c0;
}
.down-day { 
  stroke: #c60; 
  fill: #c60;
}

.static-day { 
  stroke: #000; 
  fill: #000; 
}


/* Comparison Styles */
.comparison-series .line {
    stroke: #000;
    fill: none;
}
.comparison-series .line0 {
    stroke: #1f77b4;
    fill: none;
}
.comparison-series .line1 {
    stroke: #ff7f0e;
    fill: none;
}
.comparison-series .line2 {
    stroke: #2ca02c;
    fill: none;
}
.comparison-series .line3 {
    stroke: #d62728;
    fill: none;
}
.comparison-series .line4 {
    stroke: #9467bd;
    fill: none;
}

/* Line Series Styles */
.lineSeries { 
  fill: none; 
  stroke: #06c; 
}
.lineSeriesArea { 
  fill: #9cf; 
  fill-opacity: 0.5; 
}
