/* Bollinger Bands Styles */
.bollingerBandArea {
  fill: #eee;
  stroke-width: 0;
  opacity: 0.5;
}

.bollingerBandUpper {
  fill: none;
  stroke: #666;
  stroke-width: 1;
}

.bollingerBandLower {
  fill: none;
  stroke: #666;
  stroke-width: 1;
}

.bollingerAverage {
  fill: none;
  stroke: #666;
  stroke-width: 1;
  stroke-dasharray: 4, 1;
}

/* Moving Average Styles */
.moving-average {
  fill: none;
  stroke: #69f;
  stroke-width: 1;
  stroke-dasharray: 3, 3;
}

/* RSI Styles */
.rsi { 
  fill: none; 
  stroke: #00c; 
  stroke-width: 1.0; 
}

.marker { 
  fill: none;
  stroke: #69f;
  stroke-width: 1;
  stroke-dasharray: 3, 3;
}


