@import 'variables';

.edit-page-block {
	padding: 1em;
	margin: 2rem 0;
	text-align: center;
	background: $brand-light-gray;
}

.content {

		.header {
			&:hover {
				.header-link {
					opacity: 0.8;
				}
			}

			$link-padding: 10px;
			$link-size: 20px;

			.header-link {
				opacity: 0;
				width: $link-padding + $link-size;
				height: $link-size;
				float: left;
				padding-right: $link-padding;
				margin-left: -($link-padding + $link-size);

				svg {
					stroke: $brand-secondary;
					fill: none;
					display: inline-block;
				}
			}
		}

	padding-bottom: $section-vertical-padding;

	.section {
		padding-bottom: $section-vertical-padding * 1.5;
	}

	.block {
		margin-top: $section-vertical-padding * 1.5;

		h2 {
			margin-bottom: 20px;
		}
		ul {
			margin-bottom: 30px;
		}
	}

	pre {
		margin-bottom: 20px;
		code {
			white-space: inherit;
		}
	}
	p {
		margin-bottom: 20px;
	}
	img {
		max-width: 100%;
	}
	li {
		margin-bottom: 5px;
	}
}
