$description-padding: 30px;

.example-right {
  .description {
    padding-left: $description-padding
  }
}

.example-left {
  .description {
    padding-right: $description-padding
  }
}

.example {
  h1 > a {
    float: right;
    font-size: $font-size-base;
    padding-top: 20px;
    font-weight: normal;
  }
}

.thumbnail {
  background-color: transparent;
}
