.navbar-logo {
	$padding: 10px;
	margin: $padding 0;
	height: $navbar-height - 2 * $padding;
}

.navbar {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.navbar-collapse {
	  padding-right: 0;
	  padding-left: 0;
	}

	.floating-nav  {
		// align with a col-sm-3 right hand column
		width: 25%;
    float: right;
    padding-left: 15px;

		// push the navigation menu below the nav bar into the main page content
		.navbar-nav {
			top: $navbar-height + $navbar-bottom-margin;
			position: absolute;

			li {
				float: none;
				a {
					@include font-helvetica-neue-black-condensed();
					padding-top: 0px;
			    padding-bottom: 10px;
					font-size: 25px;
					text-transform: uppercase;
					color: $brand-white;

					&:hover {
						color: $brand-white;
					}
				}

				&.separator {
					background-color: #DADADA;
			    height: 5px;
			    width: 40px;
			    margin-left: 15px;
			    margin-top: 10px;
				}
			}
		}

		// inverted styles are applied when the menu is not overlapping the hero area, i.e. on
		// all pages other than the front page
		&.inverted  {
			li {
				a {
					color: $brand-primary !important;
					background-color: transparent !important;

					&:hover {
						color: $brand-secondary !important;
					}
				}
				&.active {
					a {
						color: $brand-link !important;
					}
				}
			}
		}
	}
}
