.nav-container {
	position: relative;
	.nav-sidebar {
		position: absolute;
		top: 180px;
	}
}

.nav-sidebar {
	> li {
		> a, > span {
			font-size: $font-size-base;
			padding: 2px 15px;
			display: block;
			position: relative;
		}
	}

	ul > li:last-child {
		margin-bottom: 10px;
	}
}

.sub-nav {
  list-style: none;
  padding-left: 30px;
  padding-bottom: 15px;
  padding-top: 15px;

  @media(min-width: $screen-sm-min) {
    display: none;
  }
  .sub-nav-item {
    height: 28px;

    > a {
      color: $navbar-inverse-link-color;
    };

    > .active {
      color: white;
      font-weight: bold;
    }
  }
}

.nav-stacked > li {
	&.active {
		a {
			font-weight: bold;
		}
	}

	> a, > span {
		color: $brand-primary;
		&.active {
			color: $brand-link;
		}
	}
	> a {
		&:hover {
			background: none;
			color: $brand-secondary;
		}
	}

	.nav-stacked > li > a  {
		padding: 0 0 0 30px;
		font-size: $font-size-small;
		text-transform: none;
	}
}
