/* Page layout based on sticky footer example http://getbootstrap.com/2.3.2/examples/sticky-footer.html */
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer .container {
  background-color: rgb(38, 51, 55);
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .credit, .container .credit a {
  margin: 20px 0;
  color: white;
}
