@brand-offwhite:        rgb(255, 252, 243);
@brand-background:      rgb(38, 51, 55);
@brand-primary:         rgb(67, 88, 98);
@brand-secondary:       rgb(123, 159, 161);

@body-bg:               @brand-background;

@text-color:            @brand-primary;

@link-color:            @code-color;

@border-radius-base:    0;

@navbar-height:         60px;
@navbar-inverse-bg:     @brand-background;

@jumbotron-bg:          @brand-background;
@jumbotron-color:       white;

@section-vertical-padding: 30px;
