---
title: "Area and Line Interpolation"
description: "Demonstrates the Area and Line interpolation."
categories: series
tags:
- area
- line
testScripts:
- area-line-interpolate.js
---

<div style="display:flex;width:600px;height:400px">
  <div id="area-line-interpolate"style="flex:1"></div>
    <form id="area-line-interpolate-form" style="width:150px">
      <label>interpolation
          <select id="interpolate-select">
              <option value="linear">linear</option>
              <option value="linear-closed">linear-closed</option>
              <option value="step">step</option>
              <option value="step-before">step-before</option>
              <option value="step-after">step-after</option>
              <option value="basis">basis</option>
              <option value="basis-open">basis-open</option>
              <option value="basis-closed">basis-closed</option>
              <option value="bundle">bundle</option>
              <option value="cardinal">cardinal</option>
              <option value="cardinal-open">cardinal-open</option>
              <option value="cardinal-closed">cardinal-closed</option>
              <option value="monotone">monotone</option>
          </select>
      </label>
  </form>
</div>

