---
title: Bar Transitions
description: Demonstrates the component's transition support.
categories: series
tags:
- bar
- transitions
testScripts:
- bar-transitions.js
---

<div id="bar-transitions"></div>
