---
title: Bar / Column
description: "A column series and a pair of bar series, both rendering the same data with negative values. The top bar has a y0 value set to position it one-third of the way up the chart."
categories: series
tags:
- bar
- column
testScripts:
- bar.js
---

<div id="bar"></div>
