---
title: Comparison
description: A basic comparison chart.
categories: series
tags:
- comparison
testScripts:
- ../chartLayout.js
- ../chartBuilder.js
- comparison.js
---

<div id="comparison"></div>
