---
title: Multi
description: "Demonstrates the Area, Line and Point components."
categories: series
tags:
- multi
- area
- line
- point
testScripts:
- multi.js
---

<style>
	#multi>svg {
		overflow: visible;
		margin: 20px;
	}
</style>

<div id="multi"></div>
