---
title: Offset Bar
description: Data is loaded from a CSV file.
categories: series
tags:
- bar
- offset bar
- csv
testScripts:
- offset-bar.js
---

<style>
.bar>path {
  stroke-width: 0;
  fill-opacity: 1;
}
</style>

<div id="offset-bar" style="width: 100%; height: 300px;"></div>
