---
title: Stacked Bar
description: Data is loaded from a CSV file.
categories: series
tags:
- bar
- stacked bar
- csv
testScripts:
- stacked-bar.js
---

<style>
.bar>path {
  stroke-width: 0;
  fill-opacity: 1;
}
</style>

<div id="stacked-bar" style="width: 1000px; height: 300px;"></div>
<form>
    <input id="zero" type="radio" name="offset" value="zero"> Zero
    <input id="expand" type="radio" name="offset" value="expand"> Expand
</form>
