---
title: Stacked Line
description: Data is loaded from a CSV file.
categories: series
tags:
- line
- stacked line
- csv
testScripts:
- stacked-line.js
---

<div id="stacked-line"></div>
<form>
    <input id="zero" type="radio" name="offset" value="zero"> Zero
    <input id="expand" type="radio" name="offset" value="expand"> Expand
</form>
