---
title: Stacked Area
description: Data is loaded from a CSV file.
categories: series
tags:
- area
- stacked area
- csv
testScripts:
- stacked-area.js
---

<div id="stacked-area"></div>
<form>
    <input id="zero" type="radio" name="offset" value="zero"> Zero
    <input id="expand" type="radio" name="offset" value="expand"> Expand
</form>
