/* Default Chart Styles */
.chart { 
}

/* Transparent overlay for interactive tools */
.overlay {
  stroke-width: 0px;
  fill-opacity: 0;
}

/* Default Axis Styles */
.axis .domain,
.axis .tick line { 
  fill: none; 
  stroke-width: 1.0; 
  stroke: #bbb; 
}
.axis text { 
  font: 10px sans-serif; 
}

.gridline { 
  stroke: #ccc;
  stroke-width: 1.0;
}

.background {
  stroke: #eee;
  fill: #fefefe;
}