/* Default Chart Styles */
.chart { 
}

/* Transparent overlay for interactive tools */
.overlay {
  stroke-width: 0px;
  fill-opacity: 0;
}

/* Default Axis Styles */
.axis .domain,
.axis .tick line { 
  fill: none; 
  stroke-width: 0.3; 
  stroke: #000; 
}
.axis text { 
  font: 10px sans-serif; 
}
