.chart { height: 400px; }

.chartArea { background: #fefefe; border: solid 1px #eee; }

.axis .domain,
.axis .tick line { fill: none; stroke-width: 0.3; stroke: black; }
.axis text { font: 10px sans-serif; }
