.divergence .bar>path {
  stroke: grey;
  fill: grey;
  fill-opacity: 1.0;
}

.signal path.line {
  fill: none;
  stroke: red;
}

.macd path.line {
  fill: none;
  stroke: #06c;
}

.stochastic-d path.line {
  fill: none;
  stroke: red;
}

.stochastic-k path.line {
  fill: none;
  stroke: #06c;
}

.bollinger path.area {
  fill-opacity: 0.5;
}
