<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingOne">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Chart Tools</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			<div class="panel-body">
				Grid X axis ticks
				<input type="number" class="form-control input-sm" id="gridTicksX" ng-model="chart.axisOptions.xTicks" ng-change="chart.applyGridlines()">
				Crosshair snap to value
				<select class="form-control input-sm" id="crosshairsValueY" ng-model="chart.crosshairOptions.yValue" ng-change="chart.applyCrosshairs()">
					<option value="">All</option>
					<option value="open">Open</option>
					<option value="high">High</option>
					<option value="low">Low</option>
					<option value="close">Close</option>
				</select>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingTwo">
			<h4 class="panel-title">
				<a class="pull-right" href="#" ng-click="chart.toggleFeature('bollinger')">
					<span class="glyphicon glyphicon-eye-close" ng-show="chart.hasFeature('bollinger')"></span>
					<span class="glyphicon glyphicon-eye-open" ng-hide="chart.hasFeature('bollinger')"></span>
				</a>
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Bollinger Bands
				</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			<div class="panel-body">
				Average points
				<input type="number" class="form-control input-sm" id="bollingerAverage" ng-model="chart.bollingerOptions.movingAverageCount" ng-change="chart.applyBollinger()">
				Number of deviations
				<input type="number" class="form-control input-sm" id="bollingerDeviations" ng-model="chart.bollingerOptions.standardDeviations" ng-change="chart.applyBollinger()">
				Data value used
				<select class="form-control input-sm" id="bollingerValueY" ng-model="chart.bollingerOptions.yValue" ng-change="chart.applyBollinger()">
					<option value="open">Open</option>
					<option value="high">High</option>
					<option value="low">Low</option>
					<option value="close">Close</option>
				</select>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingThree">
			<h4 class="panel-title">
				<a class="pull-right" href="#" ng-click="chart.addIndicator()"><span class="glyphicon glyphicon-plus"></span></a>
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Indicators
				</a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			<div class="panel-body">
				<p ng-hide="chart.indicators.length > 0">No indicators shown on chart.</p>
				<div ng-repeat="i in chart.indicators">
					<a class="pull-right" href="#" ng-click="chart.removeIndicator($index)"><span class="glyphicon glyphicon-remove"></span></a>
					Label
					<input type="text" class="form-control input-sm" ng-model="i.yLabel" ng-change="chart.indicatorUpdated($index)" />
					Average points
					<input type="number" class="form-control input-sm" ng-model="i.averagePoints" ng-change="chart.indicatorUpdated($index)" />
					Data value used
					<select class="form-control input-sm" ng-model="i.yValue" ng-change="chart.indicatorUpdated($index)">
						<option value="open">Open</option>
						<option value="high">High</option>
						<option value="low">Low</option>
						<option value="close">Close</option>
						<button type="button" class="btn btn-default btn-xs pull-right" ng-click="chart.removeIndicator($index)">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</select>	
					<hr />		
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingFour">
			<h4 class="panel-title">
				<a class="pull-right" href="#" ng-click="chart.addAnnotation()"><span class="glyphicon glyphicon-plus"></span></a>
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					Annotations
				</a>
			</h4>
		</div>
		<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
			<div class="panel-body">
				<p ng-hide="chart.annotations.length > 0">No annotations added to chart.</p>
				<div ng-repeat="a in chart.annotations">
					<a class="pull-right" href="#" ng-click="chart.removeAnnotation($index)"><span class="glyphicon glyphicon-remove"></span></a>
					Label
					<input type="text" class="form-control input-sm" ng-model="a.yLabel" ng-change="chart.annotationUpdated($index)" />
					Price Value
					<input type="number" class="form-control input-sm" ng-model="a.yValue" ng-change="chart.annotationUpdated($index)" />
					<hr />		
				</div>
			</div>
		</div>
	</div>
</div>
