---
title: Line
description: "Demonstrates the use of a static line annotation, an updating annotation and animated annotations."
categories: annotation
tags:
- line
- ohlc
testScripts:
- line.js
---

<div id="line"></div>
