body {
    color: #1b1e23;
    font-size: small;
    font-family: sans-serif;
    height: calc(100vh - 2em);
    margin: 1em;
    display: flex;
}

body > * {
    flex: auto;
}

.domain, .gridline-y, .gridline-x, .annotation-line>line {
    stroke: currentColor;
    stroke-opacity: 0.1;
}