.candlestick>path {
  stroke: #000;
}
.candlestick.down>path {
  fill: #c60;
}
.candlestick.up>path {
  fill: #6c0;
}

.ohlc>path {
  stroke: #000;
}
.ohlc.down>path {
  stroke: #c60;
}
.ohlc.up>path {
  stroke: #6c0;
}

.series {
  stroke: #06c;
  fill: #9cf;
}

.multi.item2 .series {
  stroke: #c60;
  fill: #fc9;
}

.multi.item3 .series {
  stroke: #60c;
  fill: #c9f;
}

.multi.item4 .series {
  stroke: #0c0;
  fill: #9f9;
}

.multi.item5 .series {
  stroke: #c00;
  fill: #f99;
}

.multi.item6 .series {
  stroke: #00c;
  fill: #99f;
}

.multi.item7 .series {
  stroke: #cc6;
  fill: #ffc;
}

.multi.item8 .series {
  stroke: #c0c;
  fill: #f9f;
}

path.series.line, .multi path.series.line {
  fill: none;
}