.candlestick>path {
  stroke: #000;
}
.candlestick.down>path {
  fill: #c60;
}
.candlestick.up>path {
  fill: #6c0;
}

.ohlc>path {
  stroke: #000;
}
.ohlc.down>path {
  stroke: #c60;
}
.ohlc.up>path {
  stroke: #6c0;
}

path.line {
  fill: none;
  stroke: #06c;
}

path.area {
  fill: #9cf;
  fill-opacity: 0.5;
}

.point>circle {
  stroke: #06c;
  fill: #9cf;
  fill-opacity: 0.5;
}

.bar>path, .column>path {
  stroke: #06c;
  fill: #9cf;
  fill-opacity: 0.5;
}