<div id="{{>component-id component}}" class="chart"> </div>
<script type="text/javascript">
(function() {
    var f = createFixture('#{{>component-id component}}', null, null, null, function() { return true; });
    var container = f.container, data = f.data
      xScale = f.xScale, yScale = f.yScale,
      height = f.dimensions.height, width = f.dimensions.width;

    {{{example-code}}}
}());
</script>