<div class="col-sm-4">
  <a href="{{{link}}}">
      <div class="chart-small">
          {{{html}}}
          <script type="text/javascript">
          {{{js}}}
          </script>
          <div class="caption">
              <h4>{{{title}}}</h4>
          </div>
      </div>
  </a>
</div>
