.bar {
  fill: #9cf;
  stroke-width: 0;
}

.y-label {
  white-space: nowrap;
}

d3fc-svg svg {
  overflow: visible !important;
}

.annotation-line > line {
  fill-opacity: 0;
  stroke: #999;
  stroke-width: 1;
  stroke-dasharray: 3, 3;
}
