---
title: Annotation
description: "Demonstrates the use of a static annotation, an updating annotation and animated annotations."
categories: tool
tags:
- annotation
- ohlc
testScripts:
- annotation.js
---

<div id="annotation"></div>
