---
title: Measure
description: "Demonstrates basic measure functionality: snapping, padding, labels and decoration."
categories: tool
tags:
- measure
- bar
testScripts:
- measure.js
---

<div id="measure"></div>
