---
title: "d3.time.scale and d3.scale.linear"
description: "Demonstrates the D3 time and linear scales."
categories: scale
tags:
- d3.time.scale
- d3.scale.linear
- scale
testScripts:
- d3-time-d3-linear.js
---

<div id="d3-time-d3-linear"></div>