---
title: "fc.scale.dateTime (with weekends hidden) and d3.scale.linear"
description: "Demonstrates the D3FC date time axis with the skip weekend discontinuity provider."
categories: scale
tags:
- hide weekend
- fc.scale.dateTime
- d3.scale.linear
- scale
testScripts:
- fc-time-d3-linear-hide-weekend.js
---


<div id="fc-time-fc-linear-hide-weekend"></div>