---
title: "fc.scale.dateTime"
description: "Demonstrates the D3FC date time axis with the skip weekend discontinuity provider."
categories: scale
tags:
- hide weekend
- fc.scale.dateTime
- scale
testScripts:
- ../chartLayout.js
- ../chartBuilder.js
- fc-time-d3-linear-hide-weekend.js
---


<div id="fc-time-fc-linear-hide-weekend"></div>