---
title: "fc.scale.dateTime and d3.scale.linear"
description: "Demonstrates the D3FC date time axis."
categories: scale
tags:
- fc.scale.dateTime
- d3.scale.linear
- scale
testScripts:
- fc-time-d3-linear.js
---

<div id="fc-time-d3-linear"></div>