---
title: Layout
description: "Demonstrates the Layout component, applies the CSS flexbox layout to SVG in order to simplify the task of constructing charts."
categories: util
tags:
- layout
testScripts:
- layout.js
---

<div style="width: 600px; height: 350px; padding: 20px">
  <svg id="layout-test" style="height: 100%; width: 100%; margin: 10px">
    <g layout-css="height: 30; justifyContent: center; flexDirection: row">
      <text layout-css="width: 0;" text-anchor="middle" dy="1em" font-size="20">
        Awesome Chart Layout Example!
      </text>
    </g>
    <g layout-css="flex: 1; flexDirection: row; marginLeft: 20">
      <g layout-css="flex: 1;" class="plotArea">
        <rect layout-css="width: 150; height: 100; margin: 10; alignSelf: flex-end" fill="red"></rect>
      </g>
      <g layout-css="width: 50;" class="axis right"></g>
      <g layout-css="width: 30; justifyContent: center;">
        <g layout-css="height: 0;">
          <text transform="rotate(90)">Price</text>
        </g>
      </g>
    </g>
    <g layout-css="height: 30; flexDirection: row">
      <g layout-css="flex: 1; marginRight: 80; marginLeft: 20" class="axis bottom"></g>
    </g>
    <g layout-css="height: 30; justifyContent: center; flexDirection: row">
      <text layout-css="width: 0; marginRight: 80" text-anchor="middle" dy="1em">Date</text>
    </g>
  </svg>
</div>
