/**
 * Styles for the test page
 */

html {
  box-sizing: border-box;
  background-color: #eee;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  max-width: 980px;
  margin: 0 auto;
  padding: 10px 20px;
}

h3 {
    background-color: #111;
    color: #eee;
    padding: 0.5em;
}
