---
title: Cartesian Chart
description: "Demonstrates the Cartesian Chart component."
categories: chart
tags:
- cartesian chart
testScripts:
- cartesianChart.js
---

<table id="controls" style="float: right"></table>
<div id="chart" style="float: left; width: 300px; height: 200px; border: 1px solid #aff"></div>
