---
title: Legend
description: "Demonstrates the Legend component."
categories: chart
tags:
- legend
testScripts:
- legend.js
---

<style> 
div {
  display: inline-block;
}

.swatch {
  display: block;
  width: 15px;
}
</style>

<div id="legend"></div>

<div id="legend2"></div>
