---
title: Linear Time Series
description: "Demonstrates the Linear Time Series component."
categories: chart
tags:
- linear time series
testScripts:
- linearTimeSeries.js
---

<div id="linear-time-series"></div>
