---
title: Bollinger Bands
description: "Demonstrates the Bollinger Bands on a static OHLC chart."
categories: indicators
tags:
- bollinger bands
- indicator
testScripts:
- bollingerBands.js
---

<div id="bollinger-bands"></div>
