---
title: Exponential Moving Average
description: "Demonstrates the EMA component on a static OHLC chart."
categories: indicators
tags:
- indicator
- exponential moving average
testScripts:
- exponentialMovingAverage.js
---

<div id="exponential-moving-average"></div>