---
title: Indicators Combined
description: "Demonstrates all indicators on an updating chart."
categories: indicators
tags:
- indicator
- bollinger bands
- moving average
- rsi
testScripts:
- indicators-combined.js
---

<style>
#indicators-combined g.moving-average path {
    stroke: red;
}
</style>
<div id="indicators-combined"></div>
<div id="indicators-combined-rsi"></div>
