---
title: Moving Average
description: "Demonstrates the moving average component on a static OHLC chart."
categories: indicators
tags:
- indicator
- moving average
testScripts:
- movingAverage.js
---

<div id="moving-average"></div>