<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>D3 Financial Components</title>

    <script src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="dist/Layout.js"></script>
    <script src="dist/d3-financial-components.js"></script>

    {% if site.github.owner_name != 'ScottLogic' %}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}

    <link rel="stylesheet" href="lib/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/pygments-github.css" />
    <link rel="stylesheet" href="dist/d3-financial-components.min.css" />
    <link rel="stylesheet" href="style/site.css" />
    <link rel="stylesheet" href="style/side-menu.css" />
    <link rel="stylesheet" href="style/stick-footer.css" />
  </head>
  <body>

    <!-- Page layout based on sticky footer example http://getbootstrap.com/2.3.2/examples/sticky-footer.html -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">D3FC</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="components.html">Components</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <script type="text/javascript" src="lib/init.js"></script>

    <div id="wrap">
      <div class="container main-content">
        {{content}}
      </div>
    </div>

    <div id="push"></div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">Project supported by <a href="http://www.scottlogic.com">Scott Logic</a></p>
      </div>
    </div>

    <script type="text/javascript" src="lib/bootstrap.min.js"></script>

    <script type="text/javascript">
    $('body').scrollspy({
      target: '.bs-docs-sidebar',
      offset: 40
    });
    </script>
  </body>
</html>
