---
layout: default
---
<div class="container example">
  <div class="row">
    <div class="col-sm-9 col-xs-12">
      <h1>
        {{title}}
      </h1>
      {{{body}}}
    </div>

    <nav class="col-sm-3 hidden-xs">
      <ul class="nav nav-stacked fixed nav-sidebar">
        <li>
          <h4>Examples</h4>
          <ul class="nav nav-stacked">
            <li class="">
              <a href="/examples/basecoin/index.html">
                Basecoin
              </a>
            </li>
            <li class="">
              <a href="/examples/bubble/index.html">
                Bubble chart
              </a>
            </li>
            <li class="">
              <a href="/examples/low-barrel/index.html">
                Low Barrel
              </a>
            </li>
            <li class="">
              <a href="/examples/scatter/index.html">
                Scatterplot
              </a>
            </li>
            <li class="">
              <a href="/examples/simple/index.html">
                Line / Area Chart
              </a>
            </li>
            <li class="">
              <a href="/examples/stacked/index.html">
                Stacked Bar
              </a>
            </li>
            <li class="">
              <a href="/examples/wealth-and-health-of-nations/index.html">
                The Wealth &amp; Health of Nations
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

</div>
