#chart1 { width: 100%; height: 400px; }
#chart2 { width: 100%; height: 200px; }

h2 { font-size: 16px; font-weight: bold; }
h3 { font-size: 12px; font-weight: bolder; margin: 2px; }
h4 { font-size: 11px; font-weight: bold; margin: 2px; color: #1A5488; }
hr { margin-top: 6px; margin-bottom: 8px; }

#chartTitle { background: #EDF2F5; border: solid 1px #A1A1A1; padding: 8px; font-size: 12px; font-weight: bold; }

#chartOptions { background: #EEEEEE; border: solid 1px #A1A1A1; border-top: none; padding: 6px; font-size:12px; margin-bottom: 10px; }
#chartOptions td.spacer { width: 20px; text-align: center; }
#chartOptions a {  font-weight: bold; color: #1A5488; }

#chart1 g.plotArea { border: solid 1px #f00; }
#chart2 g.plotArea { }

span.legend { display: inline-block; background: #1A5488; width: 10px; height: 10px; vertical-align: middle; }
div.date { float: right; margin: 0px; margin-top: 10px; margin-right: 40px; font-size: 11px; color: #a1a1a1; }

g.gridlines line { stroke-width: 1.0; stroke: #EBF1F6; }
g.volumebar { fill: #1A5488; }

path.lineSeries { fill: none; stroke-width: 1.0; stroke: #1A5488; }
path.lineSeriesArea { fill: #D6E7F2; stroke-width: 0; opacity: 0.5; stroke: none; }

path.bar { fill: none; stroke-width: 1.0; stroke: #1A5488; }

g.bar.up-day path{ fill: none; stroke-width: 1.0; stroke: #000; }
g.bar.up-day rect{ fill: #fff; stroke-width: 1.0; stroke: #000; }
g.bar.down-day path{ fill: none; stroke-width: 1.0; stroke: #1A5488; }
g.bar.down-day rect{ fill: #1A5488; stroke-width: 1.0; stroke: #1A5488; }

.axis g.tick line { fill: none; stroke-width: 1.0; stroke: #ccc; }
.axis path.domain { fill: none; stroke-width: 1.0; stroke: #ccc; }
.axis text { font: 10px sans-serif; }
