name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Use Node.js latest
      uses: actions/setup-node@v3
      with:
        node-version: latest

    - name: Build
      run: |
        npm ci
        npm run bundle
        npm run bundle-min
        npm test
