#stacked-chart {
  position: relative;
}

#stacked-chart .legend {
  position: absolute;
  bottom: auto;
	top: 50px;
	left: auto;
  right: 10px;
  width: 410px;
  height: 120px;
}

@media (max-width: 567px) {
  #stacked-chart .legend {
    visibility: hidden;
  }
}
