/* Ruler/Measure Component Styles */
.measure>line {
  stroke: #00c;
  stroke-width: 1;
}
.measure>line.horizontal,
.measure>line.vertical {
  stroke-dasharray: 3, 3;
}
.measure>text {
  font: 10px sans-serif;
}
.measure>text.horizontal {
  text-anchor: middle;
}
.measure>text.vertical {
  dominant-baseline: middle;
}

/* Fibonacci Fan Styles */
.fan>* {
  stroke: #ccc;
  stroke-width: 1;
}
.fan>line.trend {
  stroke: #69f;
}
.fan>polygon.area {
  fill: #eee;
  fill-opacity: 0.5;
  stroke-width: 0;
}

/* Crosshairs Styles */
.crosshair .trackball circle {
  stroke-width: 1;
  stroke: #06c;
  fill: transparent;
}

/* Annotations */
.annotation>line {
  fill: none;
  stroke: #69f;
  stroke-width: 1;
  stroke-dasharray: 3, 3;
}
.annotation text {
  font: 10px sans-serif;
  text-anchor: end;
}
